:host {
  display: block;
  width: 100vw;
  height: 80px;
  box-shadow: #0202029c 3px 4px 13px 3px;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

nav {
  display: flex;
  gap: 30px;
}