header {
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;

}

nav {
  padding: 20px;
  background: #eee;
}

main {
  padding: 20px;
  background: #fff;
  margin: 20px;
}