body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}

input,
textarea {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.875rem;
  outline: none;
  transition: border-color 0.2s;
  margin-bottom: 0.5rem;
}

input:focus,
textarea:focus {
  border-color: #f7797d;
}

button {
  padding: 0.5rem 1.5rem;
  background: #f7797d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;

  margin-right: 10px;
  transition: scale 0.15s ease-out;

  &:hover {
    background: #FBD786;
    color: #333;
  }

  &:active {
    scale: 0.95;
  }

  &:disabled {
    background: #ccc;
    color: inherit;
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
  color: #333;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.01em;
}

h1 {
  font-size: 2.25rem;
  border-bottom: 2px solid #f7797d;
  padding-bottom: 0.3rem;
}

h2 {
  font-size: 1.75rem;
  border-bottom: 1px solid #f7797d;
  padding-bottom: 0.8rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
  color: #666;
}